@page
@model IndexModel
@{
    ViewData["Title"] = "Text to Markdown Converter";
}

<div class="container mt-4">
    <div id="alertArea"></div>
    
    <div class="row">
        <div class="col-md-6">
            <h3>Input</h3>
            <textarea id="inputText" class="form-control" rows="15" placeholder="Paste your text here..."></textarea>
            <div class="mt-2 text-end">
                <span id="charCount" class="text-muted">0 / 100,000</span>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Markdown Output</h3>
            <textarea id="outputText" class="form-control" rows="15" readonly></textarea>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-12 text-center">
            <button id="convertBtn" class="btn btn-primary btn-lg">Convert to Markdown</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/markdown-converter.js" asp-append-version="true"></script>
    <script src="~/js/clipboard-handler.js" asp-append-version="true"></script>
    <script src="~/js/ui-controller.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function() {
            UIController.init();
        });
    </script>
}
